.button {
	padding: 10px;
	color: white;
	text-decoration:none; /* Remove stubborn underline from link */
}

.books-container {
	margin-top: 50px; /* media queries - poate mai putin */
}

.books-container .a {
	transition: all 0.3s ease;	/* DOM - add margin when mouseover */
	/* border-bottom: none; */
	display: block;
	margin: 1em 0 1em 0;
	text-align: center;
	border-radius: 25px;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
	background-color: rgba(255, 255, 255, 0.137);
	/* cursor: pointer; */
	/* outline: 0; */
	overflow: hidden;
	text-decoration: none; /* Remove stubborn underline from link */
	color: white;	/* text color */
	width: 350px;
}

.finished {
	background-color: rgba(90, 241, 135, 0.15)	!important;
}

.currently-reading {
	background-color: rgba(241, 150, 90, 0.25)	!important;
}

.books-container .a .h3 {
	margin: 1em;
}

/* .books-container {
	display: flex;
	flex-direction: column;
	padding-left: 2em;
	position: relative;
	margin: 0 0 2em -2em;
} */

.books-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: top;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}