.form {
	margin-bottom: 2em;
}

.book-editor-greeting {
	text-align: center;
	font-family: 'Petit Formal Script', cursive;
	border: 10px 10px;
	font-weight: bold;
}

.label-text {
	color: white;
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.input {
	width: 100%;
	appearance: none;
	background: rgba(255, 255, 255, 0.075);
	border-radius: 10px;
	border: solid 1px rgba(255, 255, 255, 0.25);
	color: white;
	display: block;
	padding: 0 1em;
	text-decoration: none;
	box-sizing: border-box;
	font-size: 20px;
}

/* Add border color when the input is in focus. */
.input:invalid {
	box-shadow: none;
}

.input:focus {
	border-color: rgb(52, 131, 62);
	box-shadow: 0 0 0 1px rgb(52, 131, 62);
}

/* Layout */
.input-short-text,
.select-reading-state {
	height: 2.75em;
}

.textarea {
	padding: 0.75em 1em;
}

 /* ==================== Media Queries ==================== */
 @media screen and (min-width: 1281px) {
	/* Desktop */
	.book-editor-greeting {
		font-size: 40px;
	}
	.label-text {
		font-size: 1.2em;
	}
}
  
@media screen and (min-width:768px) and (max-width: 1280px) { 
	/* Tablet */ 
	/* Desktop */
	.book-editor-greeting {
		font-size: 30px;
	}
	.label-text {
		font-size: 1em;
	}
	.input {
		font-size: 17px;
	}
} 
  
@media screen and (max-width: 768px) { 
	/* Mobile */ 
	.book-editor-greeting {
		font-size: 20px;
	}
	.label-text {
		font-size: 0.9em;
	}
	.input {
		font-size: 17px;
	}
}

