/* font-family: 'Merriweather', serif;
font-family: 'Petit Formal Script', cursive;
font-family: 'Ovo', serif; */

html {
  height: 100%;
}

body {
  background-image: url("img/library-background-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-color: #cccccc;
  color: white;
  margin-bottom: 100px;
}

.wrapper {
  /* max-width: 80em; */
  max-width: 70%;
	margin: 0 auto;
	padding: 0 2em; /* dc? */
	opacity: 1;
	filter: none;
	/* transition: opacity 1s ease, filter 1s ease; */
}

.title {
  font-size: 2.5em;
  font-family: 'Ovo', serif; 
  text-align: center;
  padding: 0.5em;
}

.menu-greeting {
  font-family: 'Petit Formal Script', cursive;
}

.quote {
  font-family: 'Petit Formal Script', cursive;
  font-size: 20px;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}