/* font-family: 'Merriweather', serif;
font-family: 'Petit Formal Script', cursive;
font-family: 'Ovo', serif; */

html {
  height: 100%;
}

body {
  background-image: url("img/library-background-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-color: #cccccc;
  color: white;
  margin-bottom: 100px;
}

.wrapper {
  max-width: 70%;
	margin: 0 auto;
	padding: 0;
	filter: none;
}

.title {
  font-family: 'Ovo', serif; 
  text-align: center;
  padding: 0.5em;
}

.menu-greeting {
  font-family: 'Petit Formal Script', cursive;
}

.quote {
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;
  text-align: justify;
}

 /* ==================== Media Queries ==================== */
@media screen and (min-width: 1281px) {
  /* Desktop */
  .footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
  .title {
    font-size: 3em;
  }
  .menu-greeting {
    font-size: 2.5em;
  }
  .quote {
    font-size: 1.5em;
  }
}

@media screen and (min-width:768px) and (max-width: 1280px) { 
  /* Tablet */ 
  .footer {
    text-align: center;
    width: 100%;
  }
  .title {
    font-size: 2.5em;
  }
  .menu-greeting {
    font-size: 2em;
  }
  .quote {
    font-size: 1.3em;
  }
} 

@media screen and (max-width: 768px) { 
  /* Mobile */ 
  .footer {
    text-align: center;
    width: 100%;
  }
  .title {
    font-size: 2em;
  }
  .menu-greeting {
    font-size: 1.7em;
  }
  .quote {
    font-size: 1em;
  }
}